<h1>{{ title }}</h1>

<form action="/submit" method="post">
  <div class="input">
      <label for="email">E-Mail</label><br>
      <input type="text" id="email" name="email">
  </div>
  <div class="input">
      <label for="password">Password</label><br>
      <input type="password" id="email" name="password">
  </div>
  <div class="input">
      <label for="confirmPassword">Confirm password</label><br>
      <input type="password" id="email" name="confirmPassword">
  </div>
  <button type="submit">Sign in</button>
</form>